<%= form_for(@planet, html: { multipart: true }) do |f| %>
<h2 align = "center">Создание новой планеты</h2>

<div align = "center">

	<p><%= f.label :id %></br>
	<%= f.text_field :id %></p>

	<p><%= f.label :name %></br>
	<%= f.text_field :name %></p>

	<p><%= f.label :info %></br>
	<%= f.text_area :info %></p>

<span class="picture">
    <%= f.file_field :picture %></p>
</span>

	<%= f.submit %>

<% end %>

</div>